<h1>Coaching#answer</h1>
<p>Find me in app/views/coaching/answer.html.erb</p>

<p> votre question est <%= @query %> </p>

<p> la réponse de votre coach est: <%= @reponse %> </p>

<%= link_to "Une autre question", ask_path %>
